    :root {
        --primary-color:#FFB200;
        --primary-color-rgb:255, 178, 0;
    } 
    
    #taskbar {
        background-color: var(--primary-color);
    }

    .nav-link:hover {
        color: #FFB200;
    }


    .nav-link {
        font-size: larger;
    }

    #hero {
    background-image: url(../images/paraglider.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin-top: 10rem;
}

.navbar-custom {
     height: 100px;
    }

#hero .btn {
    margin-top: 5rem;
    margin-bottom: 30rem;
    background-color: var(--primary-color);
    color: black;
    border: none;
}

#hero .btn:hover {
    color: white;
    background-color: black;
    border: none;
}

#navbarNAV .btn {
    font-weight: bold;  
    border: none; 
}


#navbarNAV .btn:hover {
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
}