    #taskbar {
        background-color: #FFB200;
    }

    #button {
        font-weight: bold;
        margin: 2rem;
    }

    #navbarNAV {
        margin-top: 30px;
    }

    .nav-link {
        font-size: larger;
    }